*.pdf
*.zip
*.log
*.dll
*.lp
*.txt
*.sh
*.bat
CPUTimer.h
CPUTimer.cpp
*.d
schedWTwin*
obj-Root/
ipch/
Debug/
Release/
swtLP-Root
swtLP-BCP
nohup.out
oec-sep/
RECC-Sep/
TriCliqueSep/
GenSep/
CliqueGenSep/
